body{
    font-family: Roboto;
}

.bb{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.v{
    display: flex;
    align-items: center;

}

.bb button{
    color: #fff;
    background-color: rgba(255, 122, 80, 1);
    border: none;
    width: 67px;
    height: 25px;
    border-radius: 17px;
    border-bottom-right-radius: 0;
    
}

.b h3{
    margin-left: 30px;
}



.box1{
    display: flex;
    justify-content: space-around;
}

.ha a{
    text-decoration: none;
    color: rgba(54, 56, 83, 1);
}

header{
    display: flex;
    align-items: center;
}

.ha{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
}

header button{
    background-color: rgba(255, 122, 80, 1);
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 110px;
    height: 43px;
    font-size: 16px;
}

header button:active{
    background-color: black;
    color: rgba(255, 122, 80, 1);
}

header a:hover{
    color: rgba(255, 104, 56, 1);
}

.haa{
    display: flex;
    justify-content: end;
    width: 1100px;
}

header img{
    margin-left: 80px;
}

.b1{
    display: flex;
    align-items: center ;
    justify-content: center;
    
}

.b1 button{
    color: #fff;
    background-color: rgba(255, 122, 80, 1);
    border: none;
    width: 150px;
    height: 44px;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 20px;
}

.b1 div{
    width: 400px;
}

.b1 h1{
    font-size: 50px;
}

.b1 button:active{
    background-color: black;
    color: rgba(255, 122, 80, 1);
}

span{
    color: rgba(255, 122, 80, 1);
}

.b1 img{
    width: 628px;
    height: 551px;
}

.b2{
    display: flex;
    align-items: center ;
    justify-content: center;
}




.b2 button{
    color: #fff;
    background-color: rgba(255, 122, 80, 1);
    width: 150px;
    height: 44px;
    border: none;
    border-radius: 30px;
    border-bottom-right-radius: 0px;
    font-size: 16px;
    
}

.b2 div{
    width: 400px;
}

.b2 img{
    width: 526px;
    height: 634px;
}

.b2 button:active{
    background-color: black;
    color: rgba(255, 122, 80, 1);
}


.box1 button:active{
    background-color: black;
    color: rgba(255, 122, 80, 1);
}

.b3{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.b3 div{
    width: 400px;
}

.b3 img{
    width: 590px;
    height: 480px;
}

footer button{
    color: #fff;
    background-color: rgba(255, 122, 80, 1);
    width: 130px;
    height: 38px;
    border: none;
    border-radius: 30px;
}

footer input{
    width: 500px;
    height: 40px;
    border-radius: 30px;
    border: none;
   
    
}

.da{
    background-color: rgba(255, 122, 80, 1);
    width: 900px;
    height: 250px;
    border-radius: 10px;
    text-align: center;
    border: none;
}

footer h1{
    color: #fff; 
    text-align: center;
    padding-top: 40px;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.di{
    background-color: #fff;
    width: 650px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    margin: 0 auto;
}

.di button:active{
    background-color: black;
    color: rgba(255, 122, 80, 1);
}

